
<div class="px-4 md:px-6 py-2 lg:px-8">

    <div style="position: relative; display: inline-block;">
      <img alt="Card" src="../../../assets/images/62077 [Convertido].png" class="w-6 mx-auto" style="display: block; margin: 0 auto;" />
      <div class="font-bold text-4xl mb-4 text-0 text-center pz-5 z-1" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">{{ selectedCategory?.name }}</div>
    </div>

  <div class="flex flex-wrap lg:flex-nowrap">
      <div class="col-fixed lg:col-2 mr-4 flex p-0 flex-column w-full lg:w-3">
<p-accordion [multiple]="true" styleClass="-mb-1 mt-3">
  <p-accordionTab [selected]="true" header="Marcas ({{brands ? brands.length : '0'}})">
    <div class="transition-all transition-duration-400 transition-ease-in-out">
      <div class="mb-3">
        <span class="p-input-icon-right w-full">
          <i class="pi pi-search"></i>
          <input type="text" pInputText placeholder="Search" class="w-full" />
        </span>
      </div>
      <div class="flex w-full justify-content-between" *ngFor="let brand of brands">
        <div class="field-checkbox">
          <input type="checkbox" [id]="'brandFilter' + brand.value" [(ngModel)]="brand.selected" #myCheckbox (change)="applyFilters()">
          <label [for]="'brandFilter' + brand.value">{{ brand.value }}</label>
        </div><!--
        <p-badge value="{{getBadgeValue(brand)}}" styleClass="mr-2 bg-gray-200 text-gray-900 p-0 border-circle"></p-badge>
        --></div>
      <a tabindex="0" class="block cursor-pointer my-3 text-primary font-medium">Mostrar mais...</a>
    </div>
  </p-accordionTab>
</p-accordion>

<p-accordion [multiple]="true" styleClass="-mb-1 mt-3">
  <p-accordionTab [selected]="true" header="Cores ({{colors ? colors.length : '0'}})">
    <div class="transition-all transition-duration-400 transition-ease-in-out">
      <div class="mb-3">
        <span class="p-input-icon-right w-full">
          <i class="pi pi-search"></i>
          <input type="text" pInputText placeholder="Search" class="w-full" />
        </span>
      </div>
      <div class="flex w-full justify-content-between" *ngFor="let color of colors">
        <div class="field-checkbox">
          <input type="checkbox" [id]="'colorFilter' + color.key" [(ngModel)]="color.selected" (change)="applyFilters()" />
          <label [for]="'colorFilter' + color.value">{{ color.value }}</label>
        </div>
<!--
        <p-badge value="{{getBadgeValue(brand)}}" styleClass="mr-2 bg-gray-200 text-gray-900 p-0 border-circle"></p-badge>
      --></div>
      <a tabindex="0" class="block cursor-pointer my-3 text-primary font-medium">Mostrar mais...</a>
    </div>
  </p-accordionTab>
</p-accordion>

<p-accordion [multiple]="true" styleClass="-mb-1 mt-3">
  <p-accordionTab [selected]="true" header="Tamanhos ({{sizes ? sizes.length : '0'}})">
    <div class="transition-all transition-duration-400 transition-ease-in-out">
      <div class="mb-3">
        <span class="p-input-icon-right w-full">
          <i class="pi pi-search"></i>
          <input type="text" pInputText placeholder="Search" class="w-full" />
        </span>
      </div>
      <div class="flex w-full justify-content-between" *ngFor="let size of sizes">
        <div class="field-checkbox">
          <input type="checkbox" [id]="'sizeFilter' + size.key" [(ngModel)]="size.selected" (change)="applyFilters()" />
          <label [for]="'sizeFilter' + size.value">{{ size.value }}</label>
        </div>
<!--
        <p-badge value="{{getBadgeValue(brand)}}" styleClass="mr-2 bg-gray-200 text-gray-900 p-0 border-circle"></p-badge>
      --></div>
      <a tabindex="0" class="block cursor-pointer my-3 text-primary font-medium">Mostrar mais...</a>
    </div>
  </p-accordionTab>
</p-accordion>

</div>
<div class="w-full mt-3 lg:mt-0" style="min-height:25rem;">

<app-product-list [products]="filteredProducts"></app-product-list>

    </div>
  </div>
</div>
