<div class="surface-section h-30rem bg-no-repeat bg-cover bg-center flex align-items-center" style="background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
url(assets/images/banner_front.jpg);">
  <div class="px-4 mx-4 lg:px-6 lg:mx-6">
      <span class="block text-3xl text-white mb-4">Nova Marca</span>
      <span class="block text-5xl font-medium text-white mb-4">COLEÇÃO ESPECIAL</span>
      <a tabindex="0" pRipple class="py-2 w-13rem text-center block mb-4 text-xl text-white font-medium border-2 cursor-pointer surface-border-0 border-round bg-white-alpha-30">Explore esta moda</a>
  </div>
</div>

<div class="surface-section px-4 py-3 md:px-6 lg:px-8">
  <div class="flex flex-wrap align-items-center justify-content-center gap-5">
      <div class="p-3 flex align-items-center bg-blue-100" style="border-radius:50px">
          <div class="bg-blue-500 inline-flex align-items-center justify-content-center mr-3 h-3rem w-3rem border-circle">
              <i class="pi pi-shopping-bag text-white text-2xl"></i>
          </div>
          <span class="text-blue-900 text-lg font-medium">Frete Grátis</span>
      </div>
      <div class="p-3 flex align-items-center bg-cyan-100" style="border-radius:50px">
          <div class="bg-cyan-500 inline-flex align-items-center justify-content-center mr-3 h-3rem w-3rem border-circle">
              <i class="pi pi-arrow-right text-white text-2xl"></i>
          </div>
          <span class="text-cyan-900 text-lg font-medium">Até 6x sem juros</span>
      </div>
      <div class="p-3 flex align-items-center bg-orange-100" style="border-radius:50px">
          <div class="bg-orange-500 inline-flex align-items-center justify-content-center mr-3 h-3rem w-3rem border-circle">
              <i class="pi pi-shield text-white text-2xl"></i>
          </div>
          <span class="text-orange-900 text-lg font-medium">Melhores Preços</span>
      </div>
      <div class="p-3 flex align-items-center bg-green-100" style="border-radius:50px">
          <div class="bg-green-500 inline-flex align-items-center justify-content-center mr-3 h-3rem w-3rem border-circle">
              <i class="pi pi-refresh text-white text-2xl"></i>
          </div>
          <span class="text-green-900 text-lg font-medium">Entrega Rápida</span>
      </div>
  </div>
</div>

<div class="py-3 text-2xl font-bold flex justify-content-center">
  <span>Mais Vendidos</span>
</div>

<!--BEST SELLERS-->
<p-carousel [value]="bestSellers" [numVisible]="3" [circular]="true"
             [autoplayInterval]="5000" [responsiveOptions]="responsiveOptions">
  <ng-template let-product pTemplate="item">
    <div class="product-card">
      <img src="{{product.imageUrl}}" alt="{{product.name}}">
      <div class="product-details">
        <h2>{{product.name}}</h2>
        <p class="price">Preço: {{product.price | currency:'BRL':'symbol'}}</p>
        <p class="sales-count">Vendas: {{product.salesCount}}</p>
      </div>
    </div>
  </ng-template>
</p-carousel>

<div class="surface-section px-4 py-8 md:px-6 lg:px-8">
  <div class="grid grid-nogutter -ml-3 -mr-3">
      <div class="col-12 lg:col-6 p-3">
          <div class="flex flex-column justify-content-between h-full w-full border-round bg-no-repeat bg-cover bg-center" style="background: linear-gradient(0deg, rgba(0, 0, 0, 0.123), rgba(0, 0, 0, 0.151)), url(assets/images/storefront/storefront-1-28.jpg); min-height:40rem;">
              <div class="p-4 align-self-start">
                  <div class="text-white text-2xl font-bold mb-2">Liquidação!</div>
                  <span class="text-white text-lg line-height-3">Deixe seu pequeno príncipe ou princesa mais elegante.</span>
              </div>
              <div class="p-4 align-self-end">
                  <a tabindex="0" class="text-2xl cursor-pointer text-white flex align-items-center hover:text-primary transition-duration-150">Compre Já!<i class="pi pi-fw pi-arrow-right text-2xl ml-2"></i></a>
              </div>
          </div>
      </div>
      <div class="col-12 lg:col-6">
          <div class="grid grid-nogutter lg:flex-column">
              <div class="col-12 p-3">
                  <div class="flex flex-column justify-content-between h-full w-full border-round bg-no-repeat bg-cover bg-center h-20rem" style="background: linear-gradient(0deg, rgba(32, 30, 30, 0.062), rgba(0, 0, 0, 0)), url(assets/images/storefront/storefront-1-26.jpg);">
                      <div class="p-4 align-self-start">
                          <div class="text-white text-2xl font-bold mb-2">Enxoval</div>
                          <span class="text-white text-lg line-height-3">Não perca tempo! Adicione ao carrinho!</span>
                      </div>
                      <div class="p-4 align-self-end">
                          <a tabindex="0" class="text-2xl cursor-pointer text-white flex align-items-center hover:text-primary transition-duration-150">Compre já!<i class="pi pi-fw pi-arrow-right text-2xl ml-2"></i></a>
                      </div>
                  </div>
              </div>
              <div class="col-12 p-3">
                  <div class="flex flex-column justify-content-between h-full w-full border-round bg-no-repeat bg-cover bg-center h-20rem" style="background: linear-gradient(0deg, rgba(0, 0, 0, 0.075), rgba(0, 0, 0, 0.068)), url(assets/images/storefront/storefront-1-30.jpg);">
                      <div class="p-4 align-self-start">
                          <div class="text-white text-2xl font-bold mb-2">Em Alta</div>
                          <span class="text-white text-lg line-height-3">Transforme a vestimenta do seu filho em uma moda incrível.</span>
                      </div>
                      <div class="p-4 align-self-end">
                          <a tabindex="0" class="text-2xl cursor-pointer text-white flex align-items-center hover:text-primary transition-duration-150">Compre Já!<i class="pi pi-fw pi-arrow-right text-2xl ml-2"></i></a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>


<div class="surface-section px-4 py-8 md:px-6 lg:px-8">
  <div class="flex flex-wrap -mr-3 -ml-3">
      <div class="p-3 w-full xl:w-6">
          <div class="bg-no-repeat bg-cover bg-center p-3 border-round" style="background: url('assets/images/storefront/storefront-1-8.jpg')">
              <div class="border-2 border-round border-white flex flex-column sm:flex-row overflow-hidden">
                  <div class="flex-1 text-center bg-white-alpha-40 font-medium" style="backdrop-filter: blur(15px)">
                      <div class="p-6 flex flex-column align-items-center text-gray-900">
                          <span class="text-xl mb-5">Adquira já!</span>
                          <span class="text-xl mb-5 text-5xl">25 <span class="text-xl">% OFF</span></span>
                          <span class="text-xl">MAIS VENDIDO</span>
                      </div>
                  </div>
                  <div class="flex-1 bg-no-repeat bg-cover bg-center" style="background: url('assets/images/storefront/storefront-1-8.jpg'); min-height:200px"></div>
              </div>
          </div>
      </div>


      <div class="p-3 w-full xl:w-6">
          <div class="bg-no-repeat bg-cover bg-center p-3 border-round" style="background: url('assets/images/storefront/storefront-1-7.jpg')">
              <div class="border-2 border-round border-white flex flex-column sm:flex-row overflow-hidden">
                  <div class="flex-1 text-center bg-white-alpha-40 font-medium" style="backdrop-filter: blur(15px)">
                      <div class="py-6 flex flex-column align-items-center text-gray-900">
                          <span class="text-xl mb-5">Macações </span>
                          <span class="text-xl mb-5 text-5xl">25 <span class="text-xl">% OFF</span></span>
                          <span class="text-xl">ENCONTRE SEU ESTILO</span>
                      </div>
                  </div>
                  <div class="flex-1 bg-no-repeat bg-cover bg-center" style="background: url('assets/images/storefront/storefront-1-7.jpg'); min-height:200px"></div>
              </div>
          </div>
      </div>
  </div>
</div>



