<div class="surface-section px-4 py-8 md:px-6 lg:px-8">
<div class="grid -mt-3 -ml-3 -mr-3">
    <div class="p-2 col-3 md:col-6 lg:col-3 mb-5 md:mb-0" *ngFor="let product of products" >
      <div class="relative mb-3" >
        <img [routerLink]="['/products', product.id]" [src]="product.imageUrl" alt="product_image" class="w-full" />
              <!--span class="bg-pink-500 text-pink-50 font-bold px-2 py-1 absolute" style="border-radius: 1rem; right: 1rem; bottom: 1rem">{{ discount }}</span-->
          </div>
          <span class="text-900 font-medium text-lg">{{ product.name }}</span>
          <div class="my-3">
            <p-rating [ngModel]="product.rating" [readonly]="true" [cancel]="false" styleClass="mr-1"></p-rating>
            <!--span class="text-500">{{ reviews }}</span-->
          </div>
            <div class="mb-4">
              <span class="line-through text-600">{{ (product.unitPrice ? product.unitPrice + 20 : product.unitPrice) | currency: "BRL" }}</span>
              <span class="font-bold text-900 ml-2">{{ product.unitPrice | currency: "BRL" }}</span>
          </div>
          <p-button
          styleClass="mt-3 add-to-cart"
          label="Comprar"
          icon="pi pi-shopping-cart"
          (click)="addToCart(product)"
          >
        </p-button>
    </div>
</div>
</div>
