<div class="surface-ground px-4 py-4 md:px-3 lg:px-4">
  <div class="grid -mr-3 -ml-3 bg-green-100">

      <div class="p-4 grid formgrid">
        <div class="surface-card p-fluid col-12 lg:col-8 border-round shadow-2 p-4">
        <div
          class="col-12 mb-4 flex flex-column lg:flex-row align-items-center justify-content-between"
        >
          <div class="text-900 font-medium text-xl">
            <i class="fa-solid fa-user mr-1"></i>Informações de Contato
          </div>

          <div class="mt-3 lg:mt-0">
            <i class="pi pi-lock" style="font-size: 1rem"></i>
            <span class="text-600 mr-2 px-2 font-bold">SITE 100% SEGURO</span>
          </div>
        </div>

        <form [formGroup]="orderForm" (ngSubmit)="onSubmit()" class="grid formgrid">

          <div class="col-12 field mb-6">
            <input formControlName="user.email" required email id="email" placeholder="Email" type="text" class="p-inputtext w-full mb-4" />

            <p-checkbox
              name="checkbox-1"
              [(ngModel)]="checked1"
              [binary]="true"
              label="Quero receber notícias e ofertas neste email."
              class="text-900"
              inputId="id"
            ></p-checkbox>
          </div>


          <div class="col-12 lg:col-6 field mb-4">
            <input formControlName="user.firstName" required id="firstName" placeholder="Nome" type="text" class="p-inputtext w-full mb-4" />
          </div>

          <div class="col-12 lg:col-6 field mb-4">
            <input formControlName="user.lastName" required id="lastName" placeholder="Sobrenome" type="text" class="p-inputtext w-full mb-4" />
          </div>

          <div class="col-12 lg:col-6 field mb-4">
            <input formControlName="user.cpf" required id="cpf" placeholder="cpf" type="text" class="p-inputtext w-full mb-4" />
          </div>

          <div class="col-12 lg:col-6 field mb-4">
            <p-calendar dateFormat="dd/mm/yy" [showIcon]="true" formControlName="user.birthDay" id="birthDay" placeholder="Data de Nascimento" type="text" class="p-inputtext w-full mb-4" />
          </div>

          <div class="col-12 lg:col-6 field mb-4">
            <input formControlName="user.phone" required id="phone" placeholder="Telefone" type="text" class="p-inputtext w-full mb-4" />
          </div>

          <div class="col-12 lg:col-6 field mb-4">
            <input formControlName="addressList.cep" required id="CEP" placeholder="CEP" type="text" class="p-inputtext w-full mb-4" />
          </div>

          <div class="col-12 lg:col-6 field mb-4">
            <input formControlName="addressList.logradouro" required id="logradouro" placeholder="logradouro" type="text" class="p-inputtext w-full mb-4" />
          </div>

          <div class="col-12 lg:col-6 field mb-4">
            <input formControlName="addressList.numero" required id="numero" placeholder="numero" type="text" class="p-inputtext w-full mb-4" />
          </div>

            <div class="col-12 lg:col-6 field mb-4">
            <input formControlName="addressList.complemento" id="complemento" placeholder="complemento" type="text" class="p-inputtext w-full mb-4" />
          </div>

          <div class="col-12 lg:col-6 field mb-4">
            <input formControlName="addressList.bairro" required id="bairro" placeholder="bairro" type="text" class="p-inputtext w-full mb-4" />

          </div>

          <div class="col-12 lg:col-6 field mb-4">
            <input formControlName="addressList.localidade" required id="localidade" placeholder="Cidade" type="text" class="p-inputtext w-full mb-4" />

          </div>

          <div class="col-12 lg:col-6 field mb-4">
            <input formControlName="addressList.uf" id="uf" required placeholder="Estado" type="text" class="p-inputtext w-full mb-4" />

          </div>
          <div class="col-12 field mb-4">
            <input
              id="referencia"
              placeholder="Ponto de Referência"
              type="text"
              class="p-inputtext w-full"
            />
          </div>
          <p-divider class="w-full px-2 mb-3"></p-divider>
<!--

          <div class="text-900 font-medium text-xl mt-4 lg:mt-0 mb-4 px-2">
            <i class="fa-solid fa-truck-fast mr-1"></i>Método de Entrega
          </div>

          <div class="col-12 flex flex-column lg:flex-row field">
            <div
              class="flex justify-content-between p-3 border-round border-1 surface-border w-full mr-3 hover:border-primary cursor-pointer"
              (click)="selectedValue = 'paymentPix'"
              [ngClass]="{
                'border-primary surface-50':
                  selectedValue === 'paymentCreditCard'
              }"
            >
              <div class="mr-3 lg:mr-0">
                <div class="text-900 font-bold mb-2">Correios</div>
                <span class="text-600">Entrega: 4 dias</span>
              </div>
              <div class="flex justify-content-between align-items-center">
                <span class="text-primary mr-2 font-medium">Grátis!</span>
                <p-radioButton
                  name="correios"
                  value="correios"
                  [(ngModel)]="selectedValue"
                ></p-radioButton>
              </div>
            </div>
            <div
              class="flex justify-content-between p-3 mt-3 lg:mt-0 border-round border-1 surface-border w-full hover:border-primary cursor-pointer"
              (click)="selectedValue = 'FedEx'"
              [ngClass]="{
                'border-primary surface-50': selectedValue === 'FedEx'
              }"
            >
              <div class="mr-3 lg:mr-0">
                <div class="text-900 font-bold mb-2">Transportadora</div>
                <span class="text-600">Entrega: 12 dias</span>
              </div>
              <div class="flex justify-content-between align-items-center">
                <span class="text-primary mr-2 font-medium">R$22,00</span>
                <p-radioButton
                  name="transportadora"
                  value="transportadora"
                  [(ngModel)]="selectedValue"
                ></p-radioButton>
              </div>
            </div>
          </div>
          <div-- class="col-12 lg:col-12 field mb-4">
            <p-checkbox
              name="checkbox-1"
              [(ngModel)]="checked2"
              [binary]="true"
              label="Salvar estas informações para as próximas compras."
              class="text-900"
              inputId="id"
            ></p-checkbox>
          </div-->
          <p-divider class="w-full px-2 mb-3"></p-divider>

          <!-- Payment information -->
          <div class="text-900 font-medium text-xl mt-4 lg:mt-0 mb-4 px-2">
            <i class="fa-solid fa-credit-card mr-1"></i> Pagamento
          </div>

          <div class="col-12 flex flex-column lg:flex-row field">
            <div
              class="p-3 border-1 border-round-top surface-border"
              (click)="selectedValue = 'paymentPix'"
              [ngClass]="{
                'border-primary surface-50': selectedValue === 'paymentPix'
              }"
            >
              <p-radioButton
                name="paymentPix"
                value="paymentPix"
                [(ngModel)]="selectedValue"
                inputId="paymentPix"
              ></p-radioButton>
              <label for="paymentPix" class="text-900 ml-3">Pix</label>
            </div>
            <div
              class="p-3 border-x-1 surface-border"
              (click)="selectedValue = 'paymentCreditCard'"
              [ngClass]="{
                'border-primary surface-50':
                  selectedValue === 'paymentCreditCard'
              }"
            >
              <p-radioButton
                name="paymentCreditCard"
                value="paymentCreditCard"
                [(ngModel)]="selectedValue"
                inputId="paymentCreditCard"
              ></p-radioButton>
              <label for="paymentCreditCard" class="text-900 ml-3"
                >Cartão de Crédito</label
              >
            </div>
            <div
              class="p-3 border-1 border-round-bottom surface-border"
              (click)="selectedValue = 'paymentSlip'"
              [ngClass]="{
                'border-primary surface-50': selectedValue === 'paymentSlip'
              }"
            >
              <p-radioButton
                name="paymentSlip"
                value="paymentSlip"
                [(ngModel)]="selectedValue"
                inputId="paymentSlip"
              ></p-radioButton>
              <label for="paymentSlip" class="text-900 ml-3"
                >Boleto de Pagamento</label
              >
            </div>
          </div>
          <div [ngSwitch]="selectedValue">
            <!--OPTION PIX-->
            <div
              *ngSwitchCase="'paymentPix'"
              class="col-12 field border-3 border-round-sm"
            >
              <div class="relative">
                <div class="col-12 field mb-4">
                  <label
                    for="keyType"
                    class="text-900 font-medium mb-3 mt-3 block"
                    >Você pagará R$ 257,00</label
                  >
                  <div class="text-red-500">
                    O código Pix é válido por 1h (uma hora). Em seu aplicativo
                    de pagamentos, escaneie ou copie o código Pix que será
                    gerado a seguir. Depois é só aguardar. Seu pedido será
                    efetivado em alguns segundos!
                  </div>
                </div>
              </div>
            </div>
            <!--OPTION CREDITCARD-->
            <div
              *ngSwitchCase="'paymentCreditCard'"
              class="col-12 field border-3 border-round-sm"
            >
              <form class="relative">
                <div class="col-12 field mb-4 my-4">
                  <form class="relative">
                    <label
                      for="cardNumber"
                      class="text-900 font-medium mb-3 block"
                      >Número do Cartão*</label
                    >
                    <input
                      id="cardNumber"
                      type="text"
                      name="cardNumber"
                      pInputText
                      placeholder="**** **** **** 1234"
                      style="margin-right: 0.5em"
                    />
                  </form>
                </div>
                <div class="col-12 field mb-0">
                  <label for="cardHolderName" class="text-900 font-medium mb-3"
                    >Nome do titular*</label
                  >
                  <input
                    id="cardHolderName"
                    type="text"
                    class="p-inputtext w-full mb-3"
                  />
                </div>
                <div class="col-12 lg:col-6 field mb-4">
                  <form #form2="ngForm" class="relative">
                    <label
                      for="expiration"
                      class="text-900 font-medium mb-3 block"
                      >Validade*</label
                    >
                    <input
                      id="expiration"
                      type="text"
                      name="expiration"
                      pInputText
                      placeholder="MM/YY"
                      style="margin-right: 0.5em"
                    />
                  </form>
                </div>
                <div class="col-12 lg:col-6 field mb-4">
                  <form #form3="ngForm" class="relative">
                    <label for="cvc" class="text-900 font-medium mb-3 block"
                      >Código de Segurança*</label
                    >
                    <input
                      id="cvc"
                      type="text"
                      name="cvc"
                      pInputText
                      placeholder="123"
                      style="margin-right: 0.5em"
                    />
                  </form>
                </div>
                <div class="col-12 field mb-0">
                  <label for="installments" class="text-900 font-medium mb-3"
                    >Parcelamento*</label
                  >
                  <p-dropdown
                    [options]="installments"
                    [(ngModel)]="selectedInstallments"
                    id="installments"
                  >
                    <ng-template let-installment pTemplate="item">
                      {{ installment }}x de R${{
                        calculateInstallments(installment)[0].toFixed(2)
                      }}
                    </ng-template>
                  </p-dropdown>
                </div>
              </form>
            </div>
            <!--OPTION SLIP-->
            <div
              *ngSwitchCase="'paymentSlip'"
              class="col-12 field border-3 border-round-sm"
            >
              <div class="relative">
                <div class="col-12 field mb-4">
                  <label
                    for="keyType"
                    class="text-900 font-medium mb-3 mt-3 block"
                    >Você pagará R$ 257,00</label
                  >
                  <div class="text-red-600 mb-2">
                    O pagamento com boleto pode levar
                    <strong>até 2 dias úteis para ser confirmado. </strong
                    >Quanto antes for confirmado, mais cedo seu pedido será
                    separado para entrega ;)
                  </div>
                  <div class="font-italic">
                    O boleto não é enviado pelo correio. Ele pode ser pago numa
                    agência bancária ou pela internet, via site ou app do seu
                    banco.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>


      <div class="col-12 lg:col-4 p-4">
        <div class="surface-card border-round shadow-2 p-5">
          <div class="border-bottom-1 pb-3 surface-border">
            <span class="text-900 font-medium text-xl"
              >Meus Pedidos ({{ cartItems.length }})</span
            >
          </div>
          <div
            *ngFor="let cart of cartItems"
            class="flex flex-column lg:flex-row flex-wrap lg:align-items-center py-2 mt-3 border-bottom-1 surface-border"
          >
            <p-image
              [src]="cart.imageCart"
              alt="Imagem do produto {{ cart.name }}"
              width="60px"
              class="flex-shrink-0 mb-3"
            />
            <div class="flex-auto mt-3 md:mt-0 md:ml-3">
              <div class="flex align-items-center justify-content-between mb-3">
                <span class="text-900 font-medium">{{ cart.name }}</span>
                <span class="text-900 font-bold">{{
                  cart.price | currencyFormat
                }}</span>
              </div>
              <div class="text-600 text-sm mb-3">Categoria | Large</div>
              <!--
                        <div class="flex flex-auto justify-content-between align-items-center">
                            <p-inputNumber [showButtons]="true" buttonLayout="horizontal" spinnerMode="horizontal" [min]="0" inputStyleClass="w-2rem text-center py-2 px-1 border-transparent" [(ngModel)]="quantities[0]"
                            class="border-1 surface-border border-round" decrementButtonClass="p-button-text text-600 hover:text-primary py-1 px-1" incrementButtonClass="p-button-text text-600 hover:text-primary py-1 px-1" incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus"></p-inputNumber>
                            <button pButton pRipple icon="pi pi-trash" class="p-button-text p-button-rounded"></button>
                        </div>

            </div>
          </div-->
          <div class="py-2 mt-3 border-bottom-1 surface-border">
            <!--div class="p-inputgroup mb-3">
                        <input type="text" pInputText placeholder="Insira o cupom" class="w-full">
                        <button type="button" pButton pRipple label="Aplicar" [disabled]="!value1"></button>
                    </div-->
          </div>
          <div class="py-2 mt-3">
            <div class="flex justify-content-between align-items-center mb-3">
              <span class="text-900 font-medium">Subtotal</span>
              <span class="text-900">{{
                subtotal.toNumber() | currencyFormat
              }}</span>
            </div>
            <div class="flex justify-content-between align-items-center mb-3">
              <span class="text-900 font-medium">Frete</span>
              <span class="text-primary font-bold">Grátis</span>
            </div>
            <div
              *ngIf="discountValue.toNumber() > 0"
              class="flex justify-content-between align-items-center mb-3"
            >
              <span class="text-900 font-medium">Desconto</span>
              <span class="text-primary font-bold">{{
                getDiscountPercentage(discountValue)
              }}</span>
            </div>
            <div class="flex justify-content-between align-items-center mb-3">
              <span class="text-900 font-bold">Total</span>
              <span class="text-900 font-medium text-xl">{{
                total | currencyFormat
              }}</span>
            </div>
          </div>
          <div
            *ngIf="discountValue.toNumber() > 0"
            class="py-2 mt-3 bg-yellow-100 flex align-items-center justify-content-center"
          >
            <span
              >Desconto de
              {{ getDiscountAmount() | currencyFormat }} aplicado!</span
            >
          </div>
          <button
            pButton
            class="p-button-primary"
            label="Finalizar Pedido"
            class="w-full mt-3"
          ></button>
        </div>
      </div>
    </div>
  </div>
</div>

