<div class="surface-ground px-4 py-4 md:px-3 lg:px-4">
  <div class="grid -mr-3 -ml-3 bg-green-100">

      <div class="p-4 grid formgrid">
        <div class="surface-card p-fluid col-12 lg:col-8 border-round shadow-2 p-4">
        <div
          class="col-12 mb-4 flex flex-column lg:flex-row align-items-center justify-content-between"
        >
          <div class="text-900 font-medium text-xl">
            <i class="fa-solid fa-user mr-1"></i>Informações de Contato
          </div>

          <div class="mt-3 lg:mt-0">
            <i class="pi pi-lock" style="font-size: 1rem"></i>
            <span class="text-600 mr-2 px-2 font-bold">SITE 100% SEGURO</span>
          </div>
        </div>

        <form [formGroup]="orderForm" (ngSubmit)="onSubmit()">

          <div class="grid p-fluid" formGroupName="user">
          <div class="col-12 field mb-6">
            <input id="email" autocomplete="email" formControlName="email" required email placeholder="Email" pInputText type="text" class="w-full mb-4" />

            <p-checkbox
              formControlName="checked"
              [binary]="true"
              label="Quero receber notícias e ofertas neste email."
              class="text-900"
            ></p-checkbox>
          </div>

          <div class="col-12 lg:col-6 field">
            <input id="firstName" formControlName="firstName" required placeholder="Nome" pInputText type="text" class="w-full mb-4" />

          </div>

          <div class="col-12 lg:col-6 field">
            <input id="lastName" formControlName="lastName" required  placeholder="Sobrenome" pInputText type="text" class="w-full mb-4" />
          </div>

          <div class="col-12 lg:col-6 field">
            <input id="cpf" formControlName="cpf" required placeholder="cpf" pInputText type="text" class="w-full mb-4" />
          </div>

          <div class="col-12 lg:col-6 field">
            <p-inputMask formControlName="birthDay" mask="99/99/9999" placeholder="__/__/____" slotChar="mm/dd/yyyy" styleClass="w-full md:w-30rem mb-5"></p-inputMask>
          </div>

          <div class="col-12 lg:col-6 field">
            <input id="phone" formControlName="phone" required  placeholder="Telefone" pInputText type="text" class="w-full mb-4" />
          </div>
        </div>

        <div class="grid fluid" formGroupName="address">
          <div class="col-12 lg:col-6 field">
            <input id="cep" formControlName="cep" required placeholder="CEP" type="text" pInputText class="w-full mb-4" />
          </div>

          <div class="col-12 lg:col-6 field">
            <input id="logradouro" formControlName="logradouro" required placeholder="logradouro" pInputText type="text" class="w-full mb-4" />
          </div>

          <div class="col-12 lg:col-6 field">
            <input formControlName="numero" required id="numero" placeholder="numero" type="text" pInputText class="w-full mb-4" />
          </div>

            <div class="col-12 lg:col-6 field">
            <input id="complemento" formControlName="complemento" required placeholder="complemento" pInputText type="text" class="w-full mb-4" />
          </div>

          <div class="col-12 lg:col-6 field">
            <input  id="bairro" formControlName="bairro" required placeholder="bairro" pInputText type="text" class="w-full mb-4" />

          </div>

          <div class="col-12 lg:col-6 field">
            <input  id="localidade" formControlName="localidade" required placeholder="Cidade" pInputText type="text" class="w-full mb-4" />

          </div>

          <div class="col-12 lg:col-6 field">
            <input  id="uf" formControlName="uf" required placeholder="Estado" pInputText type="text" class="w-full mb-4" />

          </div>
          <div class="col-12 field">
            <input
              id="referencia"
              formControlName="referencia"
              placeholder="Ponto de Referência"
              type="text"
              pInputText
              class="w-full"
            />
          </div>
        </div>
      </form>


      <!-- Payment information -->
      <div class="text-900 font-medium text-xl mt-4 lg:mt-0 mb-4 px-2">
        <i class="fa-solid fa-credit-card mr-1"></i> Pagamento
      </div>

      <div class="col-12 flex flex-column lg:flex-row field">
        <div
          class="p-3 border-1 border-round-top surface-border"
          (click)="selectedValue = 'paymentPix'"
          [ngClass]="{
            'border-primary surface-50': selectedValue === 'paymentPix'
          }"
        >
          <p-radioButton
            name="paymentPix"
            value="paymentPix"
            [(ngModel)]="selectedValue"
            inputId="paymentPix"
          ></p-radioButton>
          <label for="paymentPix" class="text-900 ml-3">Pix</label>
        </div>
        <div
          class="p-3 border-x-1 surface-border"
          (click)="selectedValue = 'paymentCreditCard'"
          [ngClass]="{
            'border-primary surface-50':
              selectedValue === 'paymentCreditCard'
          }"
        >
          <p-radioButton
            name="paymentCreditCard"
            value="paymentCreditCard"
            [(ngModel)]="selectedValue"
            inputId="paymentCreditCard"
          ></p-radioButton>
          <label for="paymentCreditCard" class="text-900 ml-3"
            >Cartão de Crédito</label
          >
        </div>
        <div
          class="p-3 border-1 border-round-bottom surface-border"
          (click)="selectedValue = 'paymentSlip'"
          [ngClass]="{
            'border-primary surface-50': selectedValue === 'paymentSlip'
          }"
        >
          <p-radioButton
            name="paymentSlip"
            value="paymentSlip"
            [(ngModel)]="selectedValue"
            inputId="paymentSlip"
          ></p-radioButton>
          <label for="paymentSlip" class="text-900 ml-3"
            >Boleto de Pagamento</label
          >
        </div>
      </div>

      <div [ngSwitch]="selectedValue">
        <!--OPTION PIX-->
        <div
          *ngSwitchCase="'paymentPix'"
          class="col-12 field border-3 border-round-sm"
        >
          <div class="relative">
            <div class="col-12 field mb-4">
              <label
                for="keyType"
                class="text-900 font-medium mb-3 mt-3 block"
                >Você pagará R$ 257,00</label
              >
              <div class="text-red-500">
                O código Pix é válido por 1h (uma hora). Em seu aplicativo
                de pagamentos, escaneie ou copie o código Pix que será
                gerado a seguir. Depois é só aguardar. Seu pedido será
                efetivado em alguns segundos!
              </div>
            </div>
          </div>
        </div>

        <!--OPTION CREDITCARD-->
<div
*ngSwitchCase="'paymentCreditCard'" formGroupName="payment"
class="col-12 field border-3 border-round-sm"
>
<div class="relative">
  <div class="col-12 field mb-4 my-4">
    <div class="relative">
      <label
        for="cardNumber"
        class="text-900 font-medium mb-3 block"
        >Número do Cartão*</label
      >
      <input
        id="cardNumber"
        formControlName="cardNumber"
        type="text"
        name="cardNumber"
        pInputText
        placeholder="**** **** **** 1234"
        style="margin-right: 0.5em"
      />
    </div>
  </div>
  <div class="col-12 field mb-0">
    <label for="cardHolderName" class="text-900 font-medium mb-3"
      >Nome do titular*</label
    >
    <input
      id="cardHolderName"
      formControlName="cardHolderName"
      type="text"
      class="p-inputtext w-full mb-3"
    />
  </div>
  <div class="col-12 lg:col-6 field mb-4">
    <div class="relative">
      <label
        for="expiration"
        class="text-900 font-medium mb-3 block"
        >Validade*</label
      >
      <input
        id="expiration"
        formControlName="expiration"
        type="text"
        pInputText
        placeholder="MM/YY"
        style="margin-right: 0.5em"
      />
    </div>
  </div>
  <div class="col-12 lg:col-6 field mb-4">
    <div class="relative">
      <label for="cvc" class="text-900 font-medium mb-3 block"
        >Código de Segurança*</label
      >
      <input
        id="cvc"
        formControlName="cvc"
        type="text"
        pInputText
        placeholder="123"
        style="margin-right: 0.5em"
      />
    </div>
  </div>
  <div class="col-12 field mb-0">
    <label for="installments" class="text-900 font-medium mb-3"
      >Parcelamento*</label
    >
    <input
    id="installments"
    formControlName="installments"
    type="text"
    pInputText
    placeholder="Parcelas"
    style="margin-right: 0.5em"
  />
  </div>
</div>
</div>
        <!--OPTION SLIP-->
        <div
          *ngSwitchCase="'paymentSlip'"
          class="col-12 field border-3 border-round-sm"
        >
          <div class="relative">
            <div class="col-12 field mb-4">
              <label
                for="keyType"
                class="text-900 font-medium mb-3 mt-3 block"
                >Você pagará R$ 257,00</label
              >
              <div class="text-red-600 mb-2">
                O pagamento com boleto pode levar
                <strong>até 2 dias úteis para ser confirmado. </strong
                >Quanto antes for confirmado, mais cedo seu pedido será
                separado para entrega ;)
              </div>
              <div class="font-italic">
                O boleto não é enviado pelo correio. Ele pode ser pago numa
                agência bancária ou pela internet, via site ou app do seu
                banco.
              </div>
            </div>
          </div>
        </div>
      </div>

  </div>

      <div class="col-12 lg:col-4 p-4">
        <div class="surface-card border-round shadow-2 p-5">
          <div class="border-bottom-1 pb-3 surface-border">
            <span class="text-900 font-medium text-xl"
              >Meus Pedidos ({{ cartItems.length }})</span
            >
          </div>
          <div
            *ngFor="let cart of cartItems"
            class="flex flex-column lg:flex-row flex-wrap lg:align-items-center py-2 mt-3 border-bottom-1 surface-border"
          >
            <p-image
              [src]="cart.imageCart"
              alt="Imagem do produto {{ cart.name }}"
              width="60px"
              class=" mb-3"
            />
            <div class="flex-auto mt-3 md:mt-0 md:ml-3">
              <div class="flex align-items-center justify-content-between mb-3">
                <span class="text-900 font-medium">{{ cart.name }}</span>

                <span class="text-900 font-bold">{{
                  cart.price | currencyFormat
                }}</span>
              </div>
              <div class="text-600 text-sm mb-3">Categoria | Large</div>
              <div class="text-600 text-sm mb-3">{{ cart.color }} | {{ cart.brand }} | {{ cart.size }}</div>

              <!--
                        <div class="flex flex-auto justify-content-between align-items-center">
                            <p-inputNumber [showButtons]="true" buttonLayout="horizontal" spinnerMode="horizontal" [min]="0" inputStyleClass="w-2rem text-center py-2 px-1 border-transparent" [(ngModel)]="quantities[0]"
                            class="border-1 surface-border border-round" decrementButtonClass="p-button-text text-600 hover:text-primary py-1 px-1" incrementButtonClass="p-button-text text-600 hover:text-primary py-1 px-1" incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus"></p-inputNumber>
                            <button pButton pRipple icon="pi pi-trash" class="p-button-text p-button-rounded"></button>
                        </div>

            </div>
          </div-->
          <div class="py-2 mt-3 border-bottom-1 surface-border">
            <!--div class="p-inputgroup mb-3">
                        <input type="text" pInputText placeholder="Insira o cupom" class="w-full">
                        <button type="button" pButton pRipple label="Aplicar" [disabled]="!value1"></button>
                    </div-->
          </div>
          <div class="py-2 mt-3">
            <div class="flex justify-content-between align-items-center mb-3">
              <span class="text-900 font-medium">Subtotal</span>
              <span class="text-900">{{
                subtotal | currencyFormat
              }}</span>
            </div>
            <div class="flex justify-content-between align-items-center mb-3">
              <span class="text-900 font-medium">Frete</span>
              <span class="text-primary font-bold">Grátis</span>
            </div>
            <div
              *ngIf="discountValue.toNumber() > 0"
              class="flex justify-content-between align-items-center mb-3"
            >
              <span class="text-900 font-medium">Desconto</span>
              <span class="text-primary font-bold">{{
                getDiscountPercentage(discountValue)
              }}</span>
            </div>
            <div class="flex justify-content-between align-items-center mb-3">
              <span class="text-900 font-bold">Total</span>
              <span class="text-900 font-medium text-xl">{{
                total | currencyFormat
              }}</span>
            </div>
          </div>
          <div
            *ngIf="discountValue.toNumber() > 0"
            class="py-2 mt-3 bg-yellow-100 flex align-items-center justify-content-center"
          >
            <span
              >Desconto de
              {{ getDiscountAmount() | currencyFormat }} aplicado!</span
            >
          </div>
          <button
            pButton
            class="p-button-primary"
            label="Finalizar Pedido"
            class="w-full mt-3"
          ></button>
        </div>
      </div>
    </div>
  </div>
</div>

