<div class="surface-section px-4 py-8 md:px-6 lg:px-8">
  <span class="text-700 text-xl">Obrigado!</span>
  <div class="font-bold text-4xl my-2">PEDIDO CONCLUÍDO COM SUCESSO! 🚀</div>
  <p class="text-700 text-xl mt-0 mb-4 p-0">Seu pedido será enviado rapidamente. Confira mais detalhes no botão ao lado.</p>
  <div style="height:3px;background:linear-gradient(90deg, #2196F3 0%, rgba(33, 150, 243, 0) 50%);"></div>

  <div class="flex flex-column sm:flex-row sm:align-items-center sm:justify-content-between py-5">
      <div class="mb-3 sm:mb-0">
          <span class="font-medium text-xl text-900 mr-2">ID do pedido:</span>
          <span class="font-medium text-xl text-blue-500">{{ orderId }}</span>
      </div>
      <div class="mb-3 sm:mb-0">
        <span class="font-medium text-xl text-900 mr-2">Data:</span>
        <span class="font-medium text-xl text-blue-500">{{ orderDetails.moment }}</span>
    </div>
    <div class="mb-3 sm:mb-0">
      <span class="font-medium text-xl text-900 mr-2">cliente:</span>
      <span class="font-medium text-xl text-blue-500">{{ orderDetails.client }}</span>
  </div>
      <div>
          <button pButton pRipple label="Detalhes" icon="pi pi-list" class="p-button-outlined p-button-secondary mr-2"></button>
          <button pButton pRipple label="Imprimir" icon="pi pi-print" class="p-button-outlined p-button-secondary"></button>
      </div>
  </div>
  <div class="border-round surface-border border-1">
      <ul *ngIf="orderDetails" class="list-none p-0 m-0">
          <li *ngFor="let item of orderDetails.items" class="p-3 border-bottom-1 surface-border flex align-items-start sm:align-items-center">
              <img src="assets/images/blocks/ecommerce/ordersummary/order-summary-1-1.png" class="w-3rem sm:w-8rem flex-shrink-0 mr-3 shadow-2" />
              <div class="flex flex-column">
                  <span class="text-900 font-medium text-xl mb-2">id: {{item.id.productId}}</span>
                  <span class="text-600 mb-3">Categoria:  {{ item.category }}</span>
                  <span class="text-900 font-medium">{{ item.description }}</span>
              </div>
              <span class="text-900 font-medium text-lg ml-auto">{{ item.price }}</span>
          </li>
      </ul>
  </div>
  <div class="flex flex-wrap mt-5 pb-3">
      <div class="w-full lg:w-6 pl-3">
          <span class="font-medium text-900">Endereço de Entrega:</span>
          <div class="flex flex-column text-900 mt-3 mb-5">
              <span class="mb-1">Celeste Slater</span>
              <span class="mb-1">606-3727 Ullamcorper. Roseville NH 11523</span>
              <span>(786) 713-8616</span>
          </div>

          <span class="font-medium text-900">Pagamento:</span>
          <div class="flex align-items-center mt-3">
              <img src="assets/images/blocks/ecommerce/ordersummary/visa.png" class="w-4rem mr-3" />
              <div class="flex flex-column">
                  <span class="text-900 mb-1">Visa Debit Card</span>
                  <span class="text-900 font-medium">**** **** **** 1234</span>
              </div>
          </div>
      </div>
      <div class="w-full lg:w-6 pl-3 lg:pl-0 lg:pr-3 flex align-items-end mt-5 lg:mt-0">
          <ul class="list-none p-0 m-0 w-full">
              <li class="mb-3"></li>
              <li class="flex justify-content-between mb-3">
                  <span class="text-900">Subtotal</span>
                  <span class="text-900 font-medium text-lg">$36.00</span>
              </li>
              <li class="flex justify-content-between mb-3">
                  <span class="text-900">Frete</span>
                  <span class="text-900 font-medium text-lg">$5.00</span>
              </li>
              <li class="flex justify-content-between border-top-1 surface-border py-3">
                  <span class="text-900 font-medium">Total</span>
                  <span class="text-900 font-bold text-lg">$41.00</span>
              </li>
          </ul>
      </div>
  </div>
</div>
